.h-5-percent {
	height: 5%;
}

.h-10-percent {
	height: 10%;
}

.h-15-percent {
	height: 15%;
}

.h-20-percent {
	height: 20%;
}

.h-25-percent {
	height: 25%;
}

.h-30-percent {
	height: 30%;
}

.h-35-percent {
	height: 35%;
}

.h-40-percent {
	height: 40%;
}

.h-45-percent {
	height: 45%;
}

.h-50-percent {
	height: 50%;
}

.h-55-percent {
	height: 55%;
}

.h-60-percent {
	height: 60%;
}

.h-65-percent {
	height: 65%;
}

.h-70-percent {
	height: 70%;
}

.h-75-percent {
	height: 75%;
}

.h-80-percent {
	height: 80%;
}

.h-85-percent {
	height: 85%;
}

.h-90-percent {
	height: 90%;
}

.h-95-percent {
	height: 95%;
}

.h-100-percent {
	height: 100%;
}
