.h-100percent {
	height: 100%;
}

.w-90percent {
	width: 90%;
}

.w-90-percent {
	width: 90%;
}

.w-100-percent {
	width: 100%;
}

.ion-color-light .not-green {
	background-color: white;
}

.center-vertically {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.center-horizontally {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main-color {
	background-color: var(--ion-color-main);
	color: var(--ion-color-main-contrast);
}

.main-light-color {
	background-color: var(--ion-color-main-light);
	color: var(--ion-color-main-light-contrast);
}

.mx-10px {
	margin-left: 10px;
	margin-right: 10px;
}

.icon-center-vertically {
	display: block;
	margin: 0 auto;
}

.no-margin-vertical {
	margin-top: 0;
	margin-bottom: 0;
}

.no-padding-bottom {
	padding-bottom: 0;
}

.align-bottom {
	position: absolute;
	bottom: 0;
}

.fill-container {
	position: absolute;
	top: 0;
	bottom: 0;
}

.flex-col-reverse {
	display: flex;
	flex-direction: column-reverse;
}

.flex-fixed {
	flex: 0 1 auto;
}

.flex-fill {
	flex: 1 1 auto;
}

.white-bg {
	background-color: white;
}

.circular-avatar {
	border-radius: 50%;
}

.round-speechbubble {
	border-radius: 25px;
}

.pos-bottomleft {
	position: absolute;
	bottom: 0;
	right: 0;
}

.pos-relative {
	position: relative;
}

.bigger-icon {
	font-size: x-large;
}

.justify-content-vertically {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.justify-content-vertically-space-outside {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.max-h-18-percent {
	max-height: 18%;
}

#homepage-avatar-bar {
	width: 28%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#homepage-avatar {
	width: 85%;
	z-index: -5;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ios-no-vertical-margin.ios {
	margin-top: 0;
	margin-bottom: 0;
}

.no-vertical-margin {
	margin-top: 0;
	margin-bottom: 0;
}

.no-caps {
	text-transform: none;
}

.button-font-larger {
	font-size: 2.4vh;
}

.round-speechbubble-wrapper::after {
	content: " ";
	display: block;
	position: relative;
	top: -11px;
	left: 40px;
	width: 36px;
	height: 64px;
	background-size: 100% 100%;
	background-image: url("./images/tmp/talkingLabel.png");
}

.hidden {
	visibility: hidden;
	position: absolute;
}

.font-title {
	font-size: 5.5vh;
	font-weight: bold;
}

.item-horizontal-margin {
	margin-left: 6%;
	margin-right: 6%;
}

.font-size-app {
	font-size: 20px !important;
}

.font-size-bigger {
	font-size: 25px !important;
}

.font-size-even-bigger {
	font-size: 30px !important;
}

.pill {
	border-radius: 64px;
}

.pill-height-normal {
	height: var(--pill-height-normal);
}

.underlined {
	text-decoration: underline;
}

.grey-text {
	color: var(--ion-color-grey-shade);
}

.back-icon-in-tongue {
	position: absolute;
	top: 5vw;
	left: 5vw;
	width: 15vw;
	height: 15vw;
	z-index: 1;
}

.logout-icon-in-tongue {
	position: absolute;
	top: 5vw;
	right: 5vw;
	width: 15vw;
	height: 15vw;
	z-index: 1;
}

.day-night-toggle {
	zoom: 2.5;

	--handle-background: var(--ion-color-violet);
	--handle-background-checked: var(--ion-color-white);

	--background: rgba(var(--ion-color-violet-rgb), 0.5);
	--background-checked: rgba(var(--ion-color-white-rgb), 0.5);
}

.text-black {
	color: black;
}

.diary-radio {
	--border-width: 3.5vw;
}

.diary-radio-day {
	--color: var(--ion-color-grey);
	--color-checked: var(--ion-color-violet);
}

.diary-radio-night {
	--color: var(--ion-color-grey);
	--color-checked: var(--ion-color-violet);
}

.text-violet {
	color: var(--ion-color-violet);
}

.ionicon-full-size {
	font-size: 60px;
	height: 60px;
}

.diary-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.pos-relative {
	position: relative;
}

.break-word {
	word-wrap: break-word;
	hyphens: auto;
}

.pos-relative {
	position: relative;
}

ion-card {
	border-radius: 30px;
}

.with-shadow {
	box-shadow: 0px 4.17555px 4.17555px rgba(0, 0, 0, 0.25);
}
